td, th {
	border: 3px solid white;
  color:white;
  font-style: italic;
  }
th{
  font-size: larger;
}
h1{
  font-family: 'Caveat', cursive;
  font-style: italic;
  text-align: center;
  color:red;
  }
  tr {
  font-family: 'Dancing Script', cursive;
  font-size:30px;
  font-style: italic;
  }
  .planet {
  width:220px;
  height:220px;
  }
  #planets {
  margin-left:auto;
  margin-right:auto;
  }
  .td_title {
  text-align: center;
  }
  body {
  background-color: #1E1E1E;
  }
  table {
  border-collapse:collapse;
  text-align: center;
  }
  td:not(.td_title) {
 font-family: 'IBM Plex Mono', monospace;
  font-size:15px;
  font-style:normal;
  }